<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Study Groups</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-light" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="text-light text-decoration-none pe-3 Home" aria-current="page" href="/">Home</a>
        <!-- <a class="text-light text-decoration-none pe-3 Map" href="/">Map</a> -->
        <a class="text-light text-decoration-none pe-3 OfficeHours" href="/">Office Hours</a>
        <a class="text-light text-decoration-none pe-3 MakeAStudyGroup" href="/createrequest">New Study Group</a>
        <a class="text-light text-decoration-none pe-3 MyStudyGroup" href="/mygroups">My Study Groups</a>
        <a class="text-light text-decoration-none pe-3 MyStudyGroup" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>